<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<%= link_to 'View Tasks', user_category_lists_path(@user, @category) %>

<%= link_to 'Edit', edit_user_category_path(@user, @category, @list) %> |
<%= link_to 'Back', user_categories_path(@user) %>


